on: push
name: test
jobs:
  checks:
    name: run
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master

    - name: install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq -y g++ python3 python-is-python3 openjdk-14-jdk

    - name: version check
      run: |
        g++ -v
        javac -version
        python --version


    - name: Mount bazel cache
      uses: actions/cache@v1
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
        mv bazelisk-linux-amd64 bazel
        chmod +x bazel

    - name: bazel test
      run: ./bazel test --test_output=all //klknn/cc:all //klknn/java:all //klknn/python:all
