on: push
name: test
jobs:
  checks:
    name: run
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master

    - name: install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq -y g++ python3 python-is-python3 openjdk-14-jdk

    - name: version check
      run: |
        g++ -v
        javac -version
        python --version

    - name: bazel test
      uses: ngalaiko/bazel-action/1.2.1@master
      with:
        args: test --test_output=all //klknn/cc:all //klknn/java:all //klknn/python:all
